In [1]:
import pandas as pd

In [32]:
dataset=pd.read_csv(r'E:\Datasets\CSV\movie_users.csv')

In [33]:
dataset.iloc[2:,1:4]

                                               title content_rating      genre
2                             The Godfather: Part II              R      Crime
3                                    The Dark Knight          PG-13     Action
4                                       Pulp Fiction              R      Crime
5                                       12 Angry Men      NOT RATED      Drama
6                     The Good, the Bad and the Ugly      NOT RATED    Western
..                                               ...            ...        ...
974                                          Tootsie             PG     Comedy
975                      Back to the Future Part III             PG  Adventure
976  Master and Commander: The Far Side of the World          PG-13     Action
977                                      Poltergeist             PG     Horror
978                                      Wall Street              R      Crime

[977 rows x 3 columns]

In [34]:
dataset.iloc[2:3,2:3]

  content_rating
2              R

In [35]:
dataset.iloc[lambda x: x.index % 2 != 0]

,star_rating,title,content_rating,genre,duration,actors_list
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
...,...,...,...,...,...,...
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."

In [36]:
dataset.iloc[[0, 2], [1, 3]]

                      title  genre
0  The Shawshank Redemption  Crime
2    The Godfather: Part II  Crime

In [40]:
# dataset.iloc[:, [True, False, True, False]]

In [37]:
dataset.iloc[:, lambda dataset: [0, 2]]

     star_rating content_rating
0            9.3              R
1            9.2              R
2            9.1              R
3            9.0          PG-13
4            8.9              R
..           ...            ...
974          7.4             PG
975          7.4             PG
976          7.4          PG-13
977          7.4             PG
978          7.4              R

[979 rows x 2 columns]

In [41]:
dataset.iloc[[0]]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."

In [42]:
dataset.iloc[[0, 1]]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"