In [22]:
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
dataset=pd.read_table('I://Text Datasets//CSV//chipotle.csv')

In [24]:
dataset.index.name=None

In [25]:
dataset.index.name='nice'
dataset.set_index('item_name',inplace=True)

In [26]:
type(dataset.loc[23,'item_name']

SyntaxError: unexpected EOF while parsing (<ipython-input-26-e6f5a61f5739>, line 1)

In [27]:
dataset.describe().loc['std','order_id']

528.8907955866094

In [28]:
dataset.loc['Izze','order_id']

item_name
Izze       1
Izze      12
Izze      21
Izze      30
Izze     155
Izze     155
Izze     186
Izze     237
Izze     237
Izze     436
Izze     495
Izze     651
Izze     651
Izze     680
Izze     842
Izze    1040
Izze    1046
Izze    1095
Izze    1149
Izze    1468
Name: order_id, dtype: int64

In [56]:
dataset.reset_index()

,item_name,order_id,quantity,choice_description,item_price
0,Chips and Fresh Tomato Salsa,1,1,NaN,$2.39
1,Izze,1,1,[Clementine],$3.39
2,Nantucket Nectar,1,1,[Apple],$3.39
3,Chips and Tomatillo-Green Chili Salsa,1,1,NaN,$2.39
4,Chicken Bowl,2,2,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,Steak Burrito,1833,1,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,Steak Burrito,1833,1,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,Chicken Salad Bowl,1834,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,Chicken Salad Bowl,1834,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,Chicken Salad Bowl,1834,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [68]:
pd.set_option('display.max_colwidth',100)

In [69]:
dataset

,order_id,quantity,choice_description,item_price
item_name,,,,
Chips and Fresh Tomato Salsa,1,1,NaN,$2.39
Izze,1,1,[Clementine],$3.39
Nantucket Nectar,1,1,[Apple],$3.39
Chips and Tomatillo-Green Chili Salsa,1,1,NaN,$2.39
Chicken Bowl,2,2,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",$16.98
...,...,...,...,...
Steak Burrito,1833,1,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour Cream, Cheese, Lettuce, Guacamole]]",$11.75
Steak Burrito,1833,1,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese, Lettuce, Guacamole]]",$11.75
Chicken Salad Bowl,1834,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Guacamole, Lettuce]]",$11.25
Chicken Salad Bowl,1834,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettuce]]",$8.75
Chicken Salad Bowl,1834,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]",$8.75